@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 31, 58;
  --background-rgb: 254, 254, 254;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}



